<div>
  <form action="/regist" method="post" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
    <div ngModelGroup="userInfo">用户名：<input #username="ngModel" name="username" type="text" ngModel></div>
    <div>手机号：<input name="mobile" type="text" ngModel></div>
    <div>密码：<input name="password" type="text" ngModel></div>
    <div>确认密码：<input name="password1" type="text" ngModel></div>
    <button type="submit">注册</button>
  </form>
  <div>
    {{myForm.value | json}}
  </div>
  <div>
    {{username.value}}
  </div>
</div>